{% extends 'no-sidebar.html.twig' %}

{% block title %}Log In{% endblock %}
{% block pageHeader %}Login Page{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-5">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="post" role="form">

                <fieldset>
                    <p class="text-uppercase"> Login using your account: </p>

                    <div class="form-group">
                        <input type="text" name="_username" id="username" class="form-control input-lg" placeholder="Username" value="{{ last_username }}" >

                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" name="_password" id="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <br>

                    <div>
                        <input type="submit" class="btn btn-md" value="Sign In">
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}