{% extends 'no-sidebar.html.twig' %}

{% block title %}Admin Home{% endblock %}
{% block pageHeader %}Admin Page{% endblock %}
{% block body %}
 <div class="container">
      <p>Hello from the Admin Page</p>
 </div>
{% endblock %}
