<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block javascripts %}{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css" />
		<style>
			@import '/css/main.css';
			@import 'https://getbootstrap.com/docs/4.1/getting-started/introduction/#css';
		</style>

	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="{{ url('index') }}">{% block pageHeader %}{% endblock %}</a></h1>
					</div>
				</div>
			<!--NAV	-->
			<nav id="nav">
				<ul>
					<li class="break"><a href="{{ url('logout') }}">Logout</a></li>
				</ul>
			</nav>
			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">
						{% block body %}{% endblock %}
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">

					<div id="copyright" class="container">
						<ul class="menu">
							<li>&copy; Jeremiah Durano TUD Blanchardstown 2019</li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>